.spin-button-none::-webkit-inner-spin-button,
.spin-button-none::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.spin-button-none[type="number"] {
  -moz-appearance: textfield;
}

.bounce {
  animation: bounce 0.5s;
}
@keyframes bounce {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.animate-scale {
  transform-origin: 0% 0%;
  animation: scale 0.2s;
}

.animate-scale-reverse {
  transform-origin: 0% 0%;
  animation: scale 0.2s reverse forwards;
}

.custom-scroll-bar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
.custom-scroll-bar::-webkit-scrollbar-track {
  background: #222222;
}

/* Handle */
.custom-scroll-bar::-webkit-scrollbar-thumb {
  background: rgb(88, 87, 87);
}

/* Handle on hover */
.custom-scroll-bar::-webkit-scrollbar-thumb:hover {
  background: rgb(52, 53, 53);
}

@keyframes scale {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
